# Dependencies
node_modules
.pnpm-store

# Build
dist
.astro

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editors
.DS_Store
*.swp
.idea
.vscode/*
!.vscode/extensions.json